.titleBaseContainer {
  position: relative;
  margin-bottom: var(--ant-padding-xs);
}

.image {
  object-fit: cover;
  object-position: 50% 40%;
  filter: brightness(0.6);
}

.titleFlexContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.titleTypography {

  & h1,h2,h3,h4,h5 {
    text-align: center !important;
    color: var(--ant-color-text-light-solid) !important;
    margin: 0 !important;
  }
}