.titleBaseContainer {
  position: relative;
  margin-bottom: var(--ant-padding-xs);
}

.image {
  object-fit: cover;
  object-position: 50% 40%;
  filter: brightness(0.7);
}

.titleFlexContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.titleTypography {
  text-align: center !important;
  color: var(--ant-color-text-light-solid) !important;
  margin: 0 !important;
}