.contentFlex {
  align-items: center;

  @include respond-below(sm) {
    flex-direction: column;
    align-items: unset;
  }
}

.textContentFlex {
  flex: 1;

  @include respond-below(sm) {
    display: contents !important;
  }
}

.imageContainer {
  width: 300px;

  @include respond-below(sm) {
    width: 100%;
    order: -1;
  }
}