MONGODB_URI=mongodb://user:password@address/ist

APP_SECRET=secret
APP_PUBLIC_URL=http://localhost

DEV_ORIGINS=localhost

ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=example@gamil.com
MAIL_PASSWORD=password