.container {
  justify-content: flex-start !important;
  padding: calc(var(--ant-padding-lg) * 2) !important;
  border-radius: var(--ant-border-radius-lg) 0 0 var(--ant-border-radius-lg) !important;
  background-color: var(--ant-color-primary) !important;
  height: 100% !important;

  @include respond-below(lg) {
    padding: var(--ant-padding-lg) !important;
    border-radius: 0 !important;
  }
}

.typography {
  text-align: left !important;
  margin: 0 !important;
  color: var(--ant-color-text-light-solid) !important;
}