.carousel {
  margin: 0 calc(var(--ant-padding-xs) * -1);

  .container {
    padding: 0 var(--ant-padding-xs);
    height: 450px !important;

    .image {
      user-select: none;
      height: 450px !important;
      object-fit: cover;

      @include respond-below(sm) {
        height: 300px !important;
      }
    }
  }
}

